button {
  font-weight: 600;
}

table {
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#line-name-input {
  margin-bottom: 20px;
}

#section-status-table {
  margin-top: 30px;
}

.map h3 {
  margin: 15px;
  color: blue;
}

.map > ul {
  margin: 5px;
}

.map > li {
  margin-left: 10px;
  font-weight: 900;
}

.list-hollow-circle {
  list-style-type: circle;
  color: brown;
  margin: 0px;
}
